{% extends "base.html.twig" %}

{% block title %}
    Page d'accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home/home.css') }}">
{% endblock %}

{% block body %}
    {% include "header/header.html.twig" %}

    {% if oversights is defined %}
        <div class="container container-custom bg-light mt-5 p-5">
            <div class="row">
                {% for oversight in oversights %}
                    <div class="col-md-3 my-1 px-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title fs-6 fw-bold">{{oversight.title}}</h5>
                                <p class="card-text text-secondary fs-7-custom">Début: {{oversight.date | date('d/m/Y')}}</p>
                                <a href="/oversight/{{oversight.id}}" class="btn btn-primary">Voir les détails</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}