{% extends "base.html.twig" %}

{% block title %}
	Oversight
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}

	{% include "header/header.html.twig" %}

	<div class="container bg-light py-5">
		{% if status < 0 %}
			{{ dump(message) }}
		{% else %}

			{% if oversight is defined %}
				<div class="row pt-5 text-center">
					<h1>{{ oversight.title }}</h1>
				</div>
			{% endif %}

			{% if chartDatas is defined %}
				{% for key, value in chartDatas %}
					<div class="col-md-10 offset-md-1 py-4">
						<canvas id="chart-{{ key }}" class="my-chart"></canvas>
					</div>
				{% endfor %}
			{% endif %}

			<div class="row mt-4">
				<a href="/oversight-entry/{{ oversight.id }}" class="btn btn-primary col-md-2 offset-md-5">Ajouter une donnée</a>
			</div>

			{% if (entryDetails is defined) and (parameters is defined) %}
				<div class="col-md-10 offset-md-1 mt-5">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Date</th>
								{% for parameter in parameters %}
									<th scope="col">
										{{ parameter.name }}
										{% if parameter.unit != null %}
											 ({{ parameter.unit }})
										{% endif %}
									</th>
								{% endfor %}
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for entry in entryDetails %}
								<tr>
									<td>{{entry.date | date('d/m/Y')}}</td>
									{% for data in entry.data %}
										<td>{{data.value}}</td>
									{% endfor %}
									<td>
										<a href="/oversight-entry/edit/{{ entry.id }}">Modifier</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endif %}

		{% endif %}
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	<script src="{{ asset('js/chart.min.js') }}"></script>

	{% if chartDatas is defined %}
		<script>
			{% for key, value in chartDatas %}
				const chart{{ key }} = new Chart(document.getElementById('chart-{{ key }}'), {
				type: 'line',
				data: {{ value | json_encode() | raw }}
			});{% endfor %}
		</script>
	{% endif %}

{% endblock %}
